# This is a linker configuration

MEMORY {
    # zero-page memory (Special section of RAM for fast access)
    ZP:     start = $00,    size = $0100, type = rw,  file = "";
    # Object Attribute Memory (the sprite definition table)
    OAM:    start = $0200,  size = $0100, type = rw,  file = "";
    # 2K of RAM for storing general objects
    RAM:    start = $0300,  size = $0500, type = rw,  file = "";
    # Something about cartridge additional information in ROM
    HDR:    start = $0000,  size = $0010, type = ro,  file = %O, fill = yes, fillval = $00;
    # 32K of ROM for code and data
    PRG:    start = $8000,  size = $8000, type = ro,  file = %O, fill = yes, fillval = $00;
    # Patterns and sprites 
    CHR:    start = $0000,  size = $2000, type = ro,  file = %O, fill = yes, fillval = $00;

    ### Notes
    #
    # $0100 in hex = 256 in dec
    # file - where to write this region of memory.
    #   "" - to the RAM
    #   %O - to the output file specified with -o in ld65 linker
    # fill - pad region to its full size with byte value from fillval
}

SEGMENTS {
    ZEROPAGE: load = ZP,  type = zp;
    OAM:      load = OAM, type = bss,  align = $100;
    BSS:      load = RAM, type = bss;
    HEADER:   load = HDR, type = ro;
    CODE:     load = PRG, type = ro,  start = $8000;
    RODATA:   load = PRG, type = ro;
    VECTORS:  load = PRG, type = ro,  start = $FFFA;
    TILES:    load = CHR, type = ro;

    ### Notes
    # bss (RAM)
}
